:root {
    --color-main: #F1EFEC;
    --color--second: #D4C9BE;
    --color--thirty: #123458;
    --color--fourth: #030303;
    --color-letter: #929191;

    --inter: "Inter", sans-serif;
}

* {
    background: var(--color-main);
    font-family: var(--inter);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.changelog {
    border: 3px solid var(--color--fourth);
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.changelog__title {
    font-size: 48px;
    font-weight: 400;
}

.changelog__subtitle {
    font-size: 16px;
    color: var(--color-letter);
    font-weight: 400;
}

.changelog__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.changelog__body {
    display: flex;
    flex-direction:column;
    width: 90%;
    padding: 20px 0;
}

.changelog__line {
    background: var(--color--fourth);
    width: 2px;
    height: 400px;
    left: 201px;
    position: relative;
}

.changelog__item {
    display: flex;
    align-items: center;
}

.changelog__date{
    width: 25%;
    text-align: right;
    color: var(--color-letter);
}

.changelog__img {
    background: var(--color--fourth);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 35px;
}

.changelog__button {
    background: var(--color--fourth);
    color: var(--color-main);
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-family: var(--inter);
    margin: 1.5rem;
}